html, body {
  margin: 0;
  padding: 0;
  background: #d29ca7;
  color: #59354b;
  font-family:  Arial, sans-serif;
  font-size: 18px; }

body {
  margin: 80px 0; }

span.tile-text {
  line-height: 1.25;
}
  
h1.title {
  font-size: 60px;
  margin: 0;
  display: block;
  float: left; }

.scores-container {
  text-align: right; }

.score-container, .best-container {
  position: relative;
  display: inline-block;
  background: #ba6778;
  padding: 20px 25px;
  font-size: 25px;
  height: 20px;
  font-weight: bold;
  color: white;
  text-align: center; }
  .score-container:after, .best-container:after {
    position: absolute;
    width: 100%;
    top: 10px;
    left: 0;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 13px;
    text-align: center; }
  .score-container .score-addition, .best-container .score-addition {
    position: absolute;
    font-size: 0px;
    line-height: 0px; }

.score-container:after {
  content: "Score"; }

.best-container:after {
  content: "Best Score"; }

p {
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 1.65; }

a {
  font-weight: medium;
  text-decoration: underline;
  cursor: pointer; }

.container {
  width: 500px;
  margin: 0 auto; }
  
.game-container {
  margin-top: 20px;
  position: relative;
  padding: 15px;
  cursor: default;
  -webkit-touch-callout: none;
  -ms-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  background: #77311e;
  border-radius: 6px;
  width: 500px;
  height: 500px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.game-message {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(150, 150, 150, 0.83);
  z-index: 100;
  padding-top: 40px;
  text-align: center;
  -webkit-animation: fade-in 800ms ease 1200ms;
  -moz-animation: fade-in 800ms ease 1200ms;
  animation: fade-in 800ms ease 1200ms;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both; }
 
  .game-message a {
    display: inline-block;
    background: #8f7a66;
    border-radius: 3px;
    padding: 0 20px;
    text-decoration: none;
    color: #f9f6f2;
    height: 40px;
    line-height: 42px;
    cursor: pointer;
    margin-left: 9px; }
  .game-message.game-won {
    background: rgba(237, 194, 46, 0.5);
    color: #f9f6f2; }
    .game-message.game-won a.keep-playing-button {
      display: inline-block; }
  .game-message.game-won, .game-message.game-over {
    display: block; }

.grid-container {
  position: absolute;
  z-index: 1; }

.grid-row {
  margin-bottom: 15px; }
  .grid-row:last-child {
    margin-bottom: 0; }
  .grid-row:after {
    content: "";
    display: block;
    clear: both; }

  .grid-cell:last-child {
    margin-right: 0; }

.tile-container {
  position: absolute;
  z-index: 2; }

.tile, .tile .tile-inner {
  width: 107px;
  height: 107px;
  line-height: 116.25px; }
.tile.tile-position-1-1 {
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  transform: translate(0px, 0px); }
.tile.tile-position-1-2 {
  -webkit-transform: translate(0px, 121px);
  -moz-transform: translate(0px, 121px);
  transform: translate(0px, 121px); }
.tile.tile-position-1-3 {
  -webkit-transform: translate(0px, 242px);
  -moz-transform: translate(0px, 242px);
  transform: translate(0px, 242px); }
.tile.tile-position-1-4 {
  -webkit-transform: translate(0px, 363px);
  -moz-transform: translate(0px, 363px);
  transform: translate(0px, 363px); }
.tile.tile-position-2-1 {
  -webkit-transform: translate(121px, 0px);
  -moz-transform: translate(121px, 0px);
  transform: translate(121px, 0px); }
.tile.tile-position-2-2 {
  -webkit-transform: translate(121px, 121px);
  -moz-transform: translate(121px, 121px);
  transform: translate(121px, 121px); }
.tile.tile-position-2-3 {
  -webkit-transform: translate(121px, 242px);
  -moz-transform: translate(121px, 242px);
  transform: translate(121px, 242px); }
.tile.tile-position-2-4 {
  -webkit-transform: translate(121px, 363px);
  -moz-transform: translate(121px, 363px);
  transform: translate(121px, 363px); }
.tile.tile-position-3-1 {
  -webkit-transform: translate(242px, 0px);
  -moz-transform: translate(242px, 0px);
  transform: translate(242px, 0px); }
.tile.tile-position-3-2 {
  -webkit-transform: translate(242px, 121px);
  -moz-transform: translate(242px, 121px);
  transform: translate(242px, 121px); }
.tile.tile-position-3-3 {
  -webkit-transform: translate(242px, 242px);
  -moz-transform: translate(242px, 242px);
  transform: translate(242px, 242px); }
.tile.tile-position-3-4 {
  -webkit-transform: translate(242px, 363px);
  -moz-transform: translate(242px, 363px);
  transform: translate(242px, 363px); }
.tile.tile-position-4-1 {
  -webkit-transform: translate(363px, 0px);
  -moz-transform: translate(363px, 0px);
  transform: translate(363px, 0px); }
.tile.tile-position-4-2 {
  -webkit-transform: translate(363px, 121px);
  -moz-transform: translate(363px, 121px);
  transform: translate(363px, 121px); }
.tile.tile-position-4-3 {
  -webkit-transform: translate(363px, 242px);
  -moz-transform: translate(363px, 242px);
  transform: translate(363px, 242px); }
.tile.tile-position-4-4 {
  -webkit-transform: translate(363px, 363px);
  -moz-transform: translate(363px, 363px);
  transform: translate(363px, 363px); }

.tile {
  position: absolute;
  -webkit-transition: 100ms ease-in-out;
  -moz-transition: 100ms ease-in-out;
  transition: 100ms ease-in-out;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform; }
  .tile .tile-inner {
    border-radius: 3px;
    background: #f5f5f5;
    text-align: center;
    font-weight: bold;
    z-index: 10;
    font-family: 'Source Code Pro', Courier;
    font-size: 16px; 
    color: #354b59;}
  .tile.tile-2 .tile-inner {
    background: url('../tile-sets/cartoons/2.jpg');
    background-size: 100%;
    color: rgba(0,0,0,0);
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0), inset 0 0 0 1px rgba(255, 255, 255, 0); }
  .tile.tile-4 .tile-inner {
    background: url('../tile-sets/cartoons/4.jpg');
    background-size: 100%;
    color: rgba(0,0,0,0);
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0), inset 0 0 0 1px rgba(255, 255, 255, 0); }
  .tile.tile-8 .tile-inner {
    background: url('../tile-sets/cartoons/8.jpg');
    background-size: 100%;
    color: rgba(0,0,0,0);
    font-weight: medium;
    font-size: 11px;
  }
  .tile.tile-16 .tile-inner {
    background: url('../tile-sets/cartoons/16.jpg');
    background-size: 100%;
    color: rgba(0,0,0,0);
    font-weight: medium;
    font-size: 10px;
  }
  .tile.tile-32 .tile-inner {
    background: url('../tile-sets/cartoons/32.jpg');
    background-size: 100%;
    color: rgba(0,0,0,0);
    font-size: 14px;
  }
  .tile.tile-64 .tile-inner {
    background: url('../tile-sets/cartoons/64.jpg');
    background-size: 100%;
    color: rgba(0,0,0,0);
    font-size: 14px;

  }
  .tile.tile-128 .tile-inner {
    font-weight: medium;
    background: url('../tile-sets/cartoons/128.jpg');
    background-size: 100%;
    color: rgba(0,0,0,0);
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.2381), inset 0 0 0 1px rgba(255, 255, 255, 0.14286);
    font-size: 12px; }
    @media screen and (max-width: 520px) {
      .tile.tile-128 .tile-inner {
        font-size: 12px; } }
  .tile.tile-256 .tile-inner {
    background: url('../tile-sets/cartoons/256.jpg');
    background-size: 100%;
    color: rgba(0,0,0,0);
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.31746), inset 0 0 0 1px rgba(255, 255, 255, 0.19048);
    font-size: 14px; }
    @media screen and (max-width: 520px) {
      .tile.tile-256 .tile-inner {
        font-size: 16px; } }
  .tile.tile-512 .tile-inner {
    background: url('../tile-sets/cartoons/512.jpg');
    background-size: 100%;
    color: rgba(0,0,0,0);
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.39683), inset 0 0 0 1px rgba(255, 255, 255, 0.2381);
    font-size: 13px; }
    @media screen and (max-width: 520px) {
      .tile.tile-512 .tile-inner {
        font-size: 13px; } }
  .tile.tile-1024 .tile-inner {
    background: url('../tile-sets/cartoons/1024.jpg');
    background-size: 100%;
    color: rgba(0,0,0,0);
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.47619), inset 0 0 0 1px rgba(255, 255, 255, 0.28571);
    font-size: 10px; }
    @media screen and (max-width: 520px) {
      .tile.tile-1024 .tile-inner {
        font-size: 10px; } }
  .tile.tile-2048 .tile-inner {
    background: url('../tile-sets/cartoons/2048.jpg');
    background-size: 100%;
    color: rgba(0,0,0,0);
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.55556), inset 0 0 0 1px rgba(255, 255, 255, 0.33333);
    font-size: 10px; }
    @media screen and (max-width: 520px) {
      .tile.tile-2048 .tile-inner {
        font-size: 10px; } }
  .tile.tile-super .tile-inner {
    color: #f9f6f2;
    background: #3c3a32;
    font-weight: medium;
    font-size: 12px; }
    @media screen and (max-width: 520px) {
      .tile.tile-super .tile-inner {
        font-size: 10px; } }
		
.tile-new .tile-inner {
  -webkit-animation: appear 200ms ease 100ms;
  -moz-animation: appear 200ms ease 100ms;
  animation: appear 200ms ease 100ms;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards; }

.tile-merged .tile-inner {
  z-index: 20;
  -webkit-animation: pop 200ms ease 100ms;
  -moz-animation: pop 200ms ease 100ms;
  animation: pop 200ms ease 100ms;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards; }

@media screen and (max-width: 520px) {
.pp-donate button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  font: inherit;
  color: inherit;
  display: inline-block;
  background: #8f7a66;
  border-radius: 3px;
  padding: 0 20px;
  text-decoration: none;
  color: #f9f6f2;
  height: 40px;
  line-height: 42px;
  cursor: pointer; }
  .pp-donate button img {
    vertical-align: -4px;
    margin-right: 8px; }

.restart-button {
  display: inline-block;
  background: #1e6477;
  border-radius: 3px;
  padding: 0 20px;
  text-decoration: none;
  color: #f9f6f2;
  line-height: 42px;
  cursor: pointer;
  display: block;
  text-align: center;
  float: right; 
  margin-top: 7px;
}

